In [1]:
# 计算月销售量
import pandas as pd
from datetime import datetime
import time

In [2]:
kaifangScore=pd.DataFrame(columns=['user_id','1','2','3','4','score'])
kaifangScore['user_id']=range(1,98925)

In [3]:
kaifangScore

       user_id    1    2    3    4 score
0            1  NaN  NaN  NaN  NaN   NaN
1            2  NaN  NaN  NaN  NaN   NaN
2            3  NaN  NaN  NaN  NaN   NaN
3            4  NaN  NaN  NaN  NaN   NaN
4            5  NaN  NaN  NaN  NaN   NaN
...        ...  ...  ...  ...  ...   ...
98919    98920  NaN  NaN  NaN  NaN   NaN
98920    98921  NaN  NaN  NaN  NaN   NaN
98921    98922  NaN  NaN  NaN  NaN   NaN
98922    98923  NaN  NaN  NaN  NaN   NaN
98923    98924  NaN  NaN  NaN  NaN   NaN

[98924 rows x 6 columns]

In [4]:
# 反向记分，复购率越低越开放性越高
liulan = pd.read_csv('./data/action_othesAttracted.csv')
maxAttrated = liulan['attracted'].max()
for row in liulan.itertuples():
    kaifangScore.loc[row.user_id-1, '1'] = row.attracted/maxAttrated*100

In [5]:
# 反向记分，复购率越低越开放性越高
fugou = pd.read_csv('./data/repurchase.csv')
for row in fugou.itertuples():
    kaifangScore.loc[row.user_id-1, '2'] = 100-row.repurchaserate*100

In [6]:
jiage = pd.read_csv('./data/priceAll.csv')
maxAvg = jiage['avg'].max()
for row in jiage.itertuples():
    kaifangScore.loc[row.user_id-1, '3'] = row.avg/maxAvg*100

In [64]:
# leixing = pd.read_csv('../开放性数据/cateNums.csv')
# for row in leixing.itertuples():
#     kaifangScore.loc[row.user_id-1, '4'] = row.catenums/6*100

In [65]:
xiaoshouliang = pd.read_csv('./data/salesAvg.csv')
maxSales=xiaoshouliang['avgsales'].max()
for row in xiaoshouliang.itertuples():
    kaifangScore.loc[row.user_id-1, '4'] = row.avgsales/maxSales*100

In [7]:
for row in kaifangScore.itertuples():
    kaifangScore.loc[row.user_id-1, 'score']=sum(row[2:6])/4

In [8]:
kaifangScore

       user_id         1      2         3    4 score
0            1  6.753903    0.0  0.493374  NaN   NaN
1            2   0.22513  100.0  0.025351  NaN   NaN
2            3  9.878538   40.0  4.435875  NaN   NaN
3            4   1.12565  100.0  0.025351  NaN   NaN
4            5   1.12565  100.0  0.025351  NaN   NaN
...        ...       ...    ...       ...  ...   ...
98919    98920   1.12565  100.0  0.025351  NaN   NaN
98920    98921  2.176258    0.0  0.002305  NaN   NaN
98921    98922  3.567074   25.0  2.372213  NaN   NaN
98922    98923  5.547849  100.0  4.025017  NaN   NaN
98923    98924  6.720796  58.33  2.548314  NaN   NaN

[98924 rows x 6 columns]

In [68]:
kaifangScore.to_csv(path_or_buf="../开放性数据/finalScore.csv",header=True,index=False)